@charset "UTF-8";

/*
    FONTES
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('truetype');
    font-weight: normal;
}

/*
    VARIÁVEIS
*/

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;

    --fonte-padão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/*
    REGRA GLOBAL DA CSS
*/

* {
    margin: 0px;
    padding: 0px;
}

/*
    CORPO
*/

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padão);
}

a.external::after {
    content: "\00A0\1F517"
}

/*
    CABEÇALHO
*/

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.384);
    color: white;
    margin-bottom: 20px;
}

header > p {
    max-width: 600px;
    margin: auto;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.363);
    font-family: var(--fonte-padão);
    color: white;
    font-size: 1.2em;
}

/*
    NAVEGAÇÃO
*/

nav {
    background-color: var(--cor5);
    padding: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: rgb(151, 147, 147);
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
}

nav > a:hover {
    color: rgb(213, 213, 226);
    border-radius: 5px;
    transition-duration: .5s;
    background-color: rgb(20, 104, 48);
}


/*
    CONTEUDO
*/

main {
    max-width: 850px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: black;
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
    background-color: var(--cor1);
    color: var(--cor5)
}

main a:hover {
    text-decoration: underline;
    color: rgb(41, 41, 231);
}

article > h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8;
}

article > h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
     font-weight: normal;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    border-radius: 5px;
    text-indent: 8px;
}

main img {
    width: 100%;
}


main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/*
    PERIFÉRICOS
*/

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
   list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 1;
}

/*
    RODAPÉ
*/

footer { 
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px
}

footer a {
    color: white;
    font-weight: 700;
    text-decoration: none;

}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}


